C 0 0 "N/C_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "N/C_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "GND_1" 0 -100 0 0 60 0 L
X "PIN_TEXT" "GND_1" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "GND_2" 0 -200 0 0 60 0 L
X "PIN_TEXT" "GND_2" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "TXRX" 0 -300 0 0 60 0 L
X "PIN_TEXT" "TXRX" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 400 -1000 "TXEN" 400 -1000 0 0 60 0 L
X "PIN_TEXT" "TXEN" 430 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -800 400 -1000 -1 0
C 500 -1000 "RXEN" 500 -1000 0 0 60 0 L
X "PIN_TEXT" "RXEN" 530 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -800 500 -1000 -1 0
C 600 -1000 "N/C_2" 600 -1000 0 0 60 0 L
X "PIN_TEXT" "N/C_2" 630 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -800 600 -1000 -1 0
C 700 -1000 "GND_3" 700 -1000 0 0 60 0 L
X "PIN_TEXT" "GND_3" 730 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -800 700 -1000 -1 0
C 1200 0 "N/C_3" 1200 0 0 0 60 0 R
X "PIN_TEXT" "N/C_3" 970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 0 1200 0 -1 0
C 1200 -100 "GND_5" 1200 -100 0 0 60 0 R
X "PIN_TEXT" "GND_5" 970 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -100 1200 -100 -1 0
C 1200 -200 "ANT" 1200 -200 0 0 60 0 R
X "PIN_TEXT" "ANT" 970 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -200 1200 -200 -1 0
C 1200 -300 "GND_4" 1200 -300 0 0 60 0 R
X "PIN_TEXT" "GND_4" 970 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -300 1200 -300 -1 0
C 400 700 "GND_6" 400 700 0 0 60 0 R
X "PIN_TEXT" "GND_6" 430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 400 500 400 700 -1 0
C 500 700 "VDD_2" 500 700 0 0 60 0 R
X "PIN_TEXT" "VDD_2" 530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 500 500 500 700 -1 0
C 600 700 "N/C_4" 600 700 0 0 60 0 R
X "PIN_TEXT" "N/C_4" 630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 600 500 600 700 -1 0
C 700 700 "VDD_1" 700 700 0 0 60 0 R
X "PIN_TEXT" "VDD_1" 730 470 90 0.00 60 0 0 2 0 0 1 0 74
L 700 500 700 700 -1 0
C 800 700 "DNC" 800 700 0 0 60 0 R
X "PIN_TEXT" "DNC" 830 470 90 0.00 60 0 0 2 0 0 1 0 74
L 800 500 800 700 -1 0
L 200 500 1000 500 -1 0
L 1000 -800 1000 500 -1 0
L 1000 -800 200 -800 -1 0
L 200 500 200 -800 -1 0
P "$LOCATION" "?" 1050 670 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

